.backgraund {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.35;
    z-index: 20;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 600px;
    height: 400px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #91c0fc;
    z-index: 21;
}

i.icon {
    position: absolute;
    right: 20px;
    top: 17px;
    color: #838282;
    font-size: 30px;
    cursor: pointer;
}

i.icon:hover {
    color: #000000;
}
